---
---

$black: #000;
$charcoal: #111;
$dark-grey: #1a1a1a;
$nav-background: rgba(26, 26, 26, 0.9);
$mid-grey: #2d2d2d;
$light-grey: #999;
$off-white: #eee;
$white: #fff;
$cyan: #0ff;
$light-cyan: #cff;
$red: #f00;
$pink: #ffc0cb;
$dark-green: #008000;
$light-green: #90ee90;
$facebook: #49629d;
$twitter: #6aa9e0;

@import url('{{ site.baseurl }}/assets/slick/slick.css');
@import url('{{ site.baseurl }}/assets/slick/slick-theme.css');

@viewport {
  width: device-width;
  zoom: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: $charcoal;
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

a {
  &:link,
  &:active,
  &:visited {
    text-decoration: none;
  }

  &.nav {
    &:hover {
      color: inherit;
    }
  }
}

abbr,
acronym {
  border-bottom: 1px dashed $off-white;
  cursor: help;
  text-decoration: none;
}

body {
  background: $dark-grey;
  color: $off-white;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  margin: 0 auto;
  max-width: 800px;
}

h1 {
  color: $cyan;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-shadow: 0 0 10px $cyan;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

header {
  color: $cyan;
  font-family: 'Voltaire', sans-serif;
  padding: 1.25rem;
  text-align: center;
  text-shadow: 0 0 10px $cyan;
  text-transform: uppercase;
}

#pageTitle,
#pageSubtitle {
  color: $cyan;
}

#pageTitle {
  display: block;
  font-size: 12.8rem;
  margin-bottom: 1.25rem;
}

#pageSubtitle {
  display: block;
  font-size: 3rem;
  letter-spacing: 4.2rem;
  margin-bottom: -3rem;
  position: relative;
  top: -3rem;
}

#lastLetter {
  letter-spacing: normal;
}

.shine {
  color: $light-cyan;
  text-shadow: 0 0 24px $light-cyan;
}

nav {
  background: $nav-background;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 10px 0;
  padding: 10px 1.25rem;
  position: sticky;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  z-index: 999;

  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
  }

  li {
    margin: 0;
  }

  #current {
    a {
      color: $cyan;
      text-shadow: 0 0 10px $cyan;
    }
  }

  a {
    color: $off-white;
    padding: 5px 10px;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $light-grey;
      transition: color 0.1s ease-in-out;
    }

    &:active {
      position: relative;
      top: 1px;
    }
  }
}

section {
  padding: 1.25rem;

  a {
    &:link,
    &:visited {
      color: $cyan;
    }

    &:hover {
      border-bottom: 2px solid $cyan;
    }
  }
}

ul {
  margin-left: 2rem;
}

li {
  margin-bottom: 1rem;

  a {
    &:link {
      border-bottom: 0;
    }
  }
}

.discog {
  column-count: 3;
  column-gap: 2rem;
}

footer {
  clear: both;
  color: $light-grey;
  font-size: 1rem;
  padding: 1.25rem;
  text-align: center;
}

.hline {
  border-bottom: 2px solid $mid-grey;
  clear: both;
  height: 1px;
  margin: 0 2.5rem;
  min-height: 1px;
}

form {
  margin-top: 2rem;
}

#contact-form {
  label {
    line-height: 2rem;
  }
}

.form-wrapper {
  display: flex;
}

.form-left {
  flex: 1;
  padding-right: 1.25rem;
}

.form-right {
  flex: 1;
}

input {
  background: $off-white;
  border: 0;
  color: $black;
  display: block;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;

  &:focus {
    background: $white;
  }
}

textarea {
  background: $off-white;
  border: 0;
  color: $black;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;

  &:focus {
    background: $white;
  }
}

.send {
  background: $black;
  border: 2px solid $white;
  color: $white;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-left: auto;
  padding: 1rem;
  transition: color 0.5s, background 0.5s;
  width: 12rem;

  &:hover {
    background: $cyan;
    border-color: $cyan;
    color: $black;
    transition: color 0.2s, background 0.2s;
  }

  &:active {
    background: $black;
    border-color: $cyan;
    color: $cyan;
    transition: color 0s, background 0s;
  }

  &:focus {
    background: $black;
    border-color: $cyan;
    transition: color 0s, background 0s;
  }
}

.success {
  background: $light-green;
  clear: both;
  color: $dark-green;
  margin-bottom: 1rem;
  padding: 1rem;
}

.error {
  background: $pink;
  clear: both;
  color: $red;
  margin-bottom: 1rem;
  padding: 10px;
}

img {
  height: auto;
  margin: 2rem 0 1.25rem;
  max-width: 100%;
}

.social {
  display: block;
  padding: 1rem;

  .facebook,
  .twitter {
    border-radius: 1rem;
    box-sizing: border-box;
    display: inline-block;
    filter: grayscale(100%);
    height: 2rem;
    width: 2rem;

    &:hover {
      filter: grayscale(0%);
      transition: 0.2s ease-in;
    }
  }

  .facebook {
    background: $facebook url('{{ base.url }}/assets/facebook.svg') no-repeat center;
    background-size: 1rem;
    margin-right: 1rem;
  }

  .twitter {
    background: $twitter url('{{ base.url }}/assets/twitter.svg') no-repeat center;
    background-size: 1rem;
  }
}

#quote {
  form {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
    padding: 0 1.25rem;

    label {
      display: inline-block;
      margin-bottom: 1rem;
      padding-right: 2rem;
      width: 75%;
    }

    input {
      background: $off-white;
      border: 0;
      color: $black;
      display: inline;
      font-weight: 600;
      padding: 0.5rem;
      text-align: center;
      width: 4rem;

      &:focus {
        background: $off-white;
      }
    }
  }
}

#results {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem;
  text-align: center;
}

button {
  background: $black;
  border: 2px solid $off-white;
  color: $off-white;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin: 0 1.25rem 1rem;
  padding: 1rem;
  transition: color 0.5s, background 0.5s;
  width: 12rem;

  &:hover {
    background: $cyan;
    border-color: $cyan;
    color: $black;
    transition: color 0.2s, background 0.2s;
  }

  &:active {
    background: $black;
    border-color: $cyan;
    color: $cyan;
    transition: color 0s, background 0s;
  }

  &:disabled,
  &:disabled {
    &:hover {
      background: $black;
      border-color: $cyan;
      color: $cyan;
    }
  }
}

.check {
  display: none;
}

.discog-art {
  p {
    text-align: center;
  }
}

// Form validation for non-HTML5 browsers

.invalid {
  &:invalid {
    background: $pink;
    color: $red;
  }

  &:valid {
    background: $light-green;
    color: $dark-green;
  }
}

#paymentForm {
  flex-direction: row;
}

#customButton {
  margin: 0 0 0 1rem;
  padding: 0;
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}

@media (max-width: 800px) {
  #pageTitle {
    font-size: 24vw;
    margin-bottom: 2.5rem;
  }

  #pageSubtitle {
    font-size: 5.5vw;
    letter-spacing: 8vw;
  }
}

@media (max-width: 576px) {
  nav {
    font-size: 1rem;
  }

  .discog {
    column-count: 2;
  }

  #paymentForm {
    flex-direction: column;
  }

  #customButton {
    margin: 1rem 0 0;
    padding: 1rem 0;
  }

  .form-wrapper {
    display: block;
  }

  .form-left {
    padding-right: 0;
  }
}

@media (max-width: 400px) {
  header {
    padding: 1rem;
  }

  nav {
    ul {
      justify-content: space-between;
    }
  }

  .hline {
    margin: 0 1.25rem;
  }

  .discog {
    column-gap: 1rem;
  }

  footer {
    padding: 1rem;
  }

  form {
    margin-top: 2rem;
    padding: 0;

    input {
      width: 100%;
    }
  }

  .send,
  button {
    margin: 0 auto 1rem;
    width: 100%;
  }

  .social {
    padding: 2rem;

    .facebook,
    .twitter {
      border-radius: 2rem;
      height: 4rem;
      width: 4rem;
    }

    .facebook {
      background-size: 2rem;
      margin-right: 2rem;
    }

    .twitter {
      background-size: 2rem;
    }
  }

  textarea {
    height: 12rem;
  }
}
