<footer>
  &copy; 2009&ndash;{{ "now" | date: "%Y" }} Melograf Mastering<br />
  Registered Business: 73402079<br />
  VAT Registered: NL448471681B01<br />
  <div class="social">
    <a href="https://www.facebook.com/melograf"><i class="facebook"></i></a>
    <a href="https://twitter.com/ochremusic"><i class="twitter"></i></a>
  </div>
</footer>
<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script defer src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script defer src="{{ site.baseurl }}/assets/slick/slick.min.js"></script>
<script defer src="{{ site.baseurl }}/js/lazysizes.min.js"></script>
<script defer src="{{ site.baseurl }}/js/script.min.js"></script>
<script> </script>
</body>

</html>
