<footer>
  &copy; 2009&ndash;{{ "now" | date: "%Y" }} Melograf Mastering<br />
  Registered Business: 73402079<br />
  VAT Registered: NL002485389B63<br />
  <div class="social">
    <a href="https://www.facebook.com/melograf"><i class="facebook"></i></a>
    <a href="https://twitter.com/ochremusic"><i class="twitter"></i></a>
  </div>
</footer>
<script defer src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script defer src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script defer src="{{ site.baseurl }}/js/lazysizes.min.js"></script>
<script defer src="{{ site.baseurl }}/js/script.min.js"></script>
</body>
</html>
